Repository nahue-passano/VoiceClonAR: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, clear-jupyter-outputs

black:
  name: Code formatting (black)
  entry: poetry run black
  language: system
  always_run: false
  pass_filenames: true

clear-jupyter-outputs:
  name: Clear Jupyter Notebook Outputs
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace
  language: system
  pass_filenames: true

update: added playground with qa
  notebooks/playground.ipynb
Due: clear-jupyter-outputs

update: added SQUIM objective parameters prediction
  voiceclonar/quality_assessment/evaluation.py
Due: black

update: added TitaNet for embedding extraction
  voiceclonar/quality_assessment/feature_extraction.py
Due: black

update: added nisqa/ files
  voiceclonar/quality_assessment/nisqa/NISQA_lib.py
  voiceclonar/quality_assessment/nisqa/NISQA_model.py
  voiceclonar/quality_assessment/nisqa/weights/LICENSE_model_weights
  voiceclonar/quality_assessment/nisqa/weights/nisqa.tar
  voiceclonar/quality_assessment/nisqa/weights/nisqa_mos_only.tar
  voiceclonar/quality_assessment/nisqa/weights/nisqa_tts.tar
Due: black

update: added nisqa to evaluator
  voiceclonar/quality_assessment/cfg.yaml
  voiceclonar/quality_assessment/evaluation.py
Due: black

update: playground
  notebooks/playground.ipynb
Due: clear-jupyter-outputs

update: added frechet_audio_distance
  voiceclonar/quality_assessment/frechet_audio_distance/__init__.py
  voiceclonar/quality_assessment/frechet_audio_distance/fad.py
  voiceclonar/quality_assessment/frechet_audio_distance/models/__init__.py
  voiceclonar/quality_assessment/frechet_audio_distance/models/pann.py
  voiceclonar/quality_assessment/frechet_audio_distance/models/pytorch_utils.py
Due: black

update: added tacotron2 audios, split by TTS
  test/audios/fastpitch/arf_00295_fastpitch.wav
  test/audios/fastpitch/arf_00295_reference.wav
  test/audios/fastpitch/arm_00610_fastpitch.wav
  test/audios/fastpitch/arm_00610_reference.wav
  test/audios/fastpitch_rvc/arf_00295_fastpitch_rvc.wav
  test/audios/fastpitch_rvc/arf_00295_reference.wav
  test/audios/fastpitch_rvc/arm_00610_fastpitch_rvc.wav
  test/audios/fastpitch_rvc/arm_00610_reference.wav
  test/audios/tacotron2/F1_reference.wav
  test/audios/tacotron2/F1_tacorton2.wav
  test/audios/tacotron2/M1_reference.wav
  test/audios/tacotron2/M1_tacorton2.wav
Due: none

update: added frechet distance, working with single file
  Makefile
  notebooks/playground.ipynb
  pyproject.toml
  voiceclonar/quality_assessment/cfg.yaml
  voiceclonar/quality_assessment/evaluation.py
  voiceclonar/quality_assessment/frechet_audio_distance/fad.py
Due: black, clear-jupyter-outputs

update: KDE by TTS for calculated metrics in playground
  notebooks/playground.ipynb
  pyproject.toml
Due: clear-jupyter-outputs

update: run frechet audio distance with PANN in playground; updated gitignore
  .gitignore
  notebooks/playground.ipynb
  voiceclonar/quality_assessment/cfg.yaml
Due: clear-jupyter-outputs

update: renamed audios of tacotron2
  test/audios/tacotron2/F_1_reference.wav
  test/audios/tacotron2/F_1_tacotron2.wav
  test/audios/tacotron2/F_2_reference.wav
  test/audios/tacotron2/F_2_tacotron2.wav
  test/audios/tacotron2/F_3_reference.wav
  test/audios/tacotron2/F_3_tacotron2.wav
  test/audios/tacotron2/F_4_reference.wav
  test/audios/tacotron2/F_4_tacotron2.wav
  test/audios/tacotron2/F_5_reference.wav
  test/audios/tacotron2/F_5_tacotron2.wav
  test/audios/tacotron2/M_1_reference.wav
  test/audios/tacotron2/M_1_tacotron2.wav
  test/audios/tacotron2/M_2_reference.wav
  test/audios/tacotron2/M_2_tacotron2.wav
  test/audios/tacotron2/M_3_reference.wav
  test/audios/tacotron2/M_3_tacotron2.wav
  test/audios/tacotron2/M_4_reference.wav
  test/audios/tacotron2/M_4_tacotron2.wav
  test/audios/tacotron2/M_5_reference.wav
  test/audios/tacotron2/M_5_tacotron2.wav
Due: none

update: added umap projections of audio embeddings extracted with titanet
  notebooks/playground.ipynb
  pyproject.toml
Due: clear-jupyter-outputs

update: clear unnecessary cell outputs in playground
  notebooks/playground.ipynb
Due: clear-jupyter-outputs

Path conditions:
  black: any of: \.py$
  clear-jupyter-outputs: any of: \.ipynb$
